@import url("photographer.css");

:root {

    --primaryColor: #901c1c;
    --secondaryColor: #D3573C;
    --tertiaryColor: #FAFAFA;
    --tertiaryFontColor: #525252;
    --priceFontColor: #757575;
    --inputFontColor: #312E2E;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primaryColor);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: var(--secondaryColor);
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}